In [35]:
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")
import pandas as pd

In [56]:
data = []
with open(filepath,'r') as f:
    rows = f.readlines()
    for row in rows:
        if len(row.split(',')) == 5:
            data.append(row.split(','))

In [61]:
data = pd.DataFrame(data)
data.columns = ['date','name','city','rate','comments']

In [116]:
data.head()

         date            name city rate                    comments
0  2018-10-07  DoYouLikeVan友吸   南阳  4.5                    搞笑哈哈哈哈\n
1  2018-10-07           伊彩520   浠水    5         作为喜剧来看，是成功的，小成本影片\n
2  2018-10-07         蓝冰蓝雪857   滨州    4  还可以吧，不是很搞笑，看了西红柿首富是从头笑到尾\n
3  2018-10-07           马拉之多纳   抚顺    4               三人行，必有我妻。哈哈\n
4  2018-10-07        kasumids   徐州    5               好看好玩适合一家人一起\n

In [120]:
data5 = data.loc[data["rate"] == '5']
data5.head(20)

          date          name city rate             comments
1   2018-10-07         伊彩520   浠水    5  作为喜剧来看，是成功的，小成本影片\n
4   2018-10-07      kasumids   徐州    5        好看好玩适合一家人一起\n
6   2018-10-07  XLm477412716   浏阳    5            炒鸡炒鸡搞笑，\n
7   2018-10-07  byF503749878   昆山    5     还可以的电影，国庆全家笑一笑\n
11  2018-10-07  nhb758475205   汕头    5       我觉得还是挺搞笑的，好看\n
13  2018-10-07         👀 👀 👀   长春    5       开心麻花不会让观众失望的\n
15  2018-10-07         伊彩520   浠水    5  作为喜剧来看，是成功的，小成本影片\n
18  2018-10-07      kasumids   徐州    5        好看好玩适合一家人一起\n
20  2018-10-07  XLm477412716   浏阳    5            炒鸡炒鸡搞笑，\n
21  2018-10-07  byF503749878   昆山    5     还可以的电影，国庆全家笑一笑\n
25  2018-10-07  nhb758475205   汕头    5       我觉得还是挺搞笑的，好看\n
27  2018-10-07         👀 👀 👀   长春    5       开心麻花不会让观众失望的\n
31  2018-10-07         伊彩520   浠水    5  作为喜剧来看，是成功的，小成本影片\n
34  2018-10-07      kasumids   徐州    5        好看好玩适合一家人一起\n
36  2018-10-07  XLm477412716   浏阳    5            炒鸡炒鸡搞笑，\n
37  2018-10-07  byF503749878   昆山    5     还可以的电影，国庆全家笑一笑\n
41  2018-10-07  nhb758475205   汕头    5       我觉得还是挺搞笑的，好看\n
43  2018-10-07         👀 👀 👀   长春    5       开心麻花不会让观众失望的\n
47  2018-10-07      kasumids   徐州    5        好看好玩适合一家人一起\n
49  2018-10-07  XLm477412716   浏阳    5            炒鸡炒鸡搞笑，\n

In [121]:
data3 = data.loc[data["rate"] == '3']
data3.head(10)

          date  name city rate               comments
8   2018-10-07  轨迹hg   青岛    3  实话实说，不是那么好笑，至少不如前几部\n
9   2018-10-07   玥什么  哈尔滨    3       一般吧，没什么意思，比较尴尬\n
22  2018-10-07  轨迹hg   青岛    3  实话实说，不是那么好笑，至少不如前几部\n
23  2018-10-07   玥什么  哈尔滨    3       一般吧，没什么意思，比较尴尬\n
38  2018-10-07  轨迹hg   青岛    3  实话实说，不是那么好笑，至少不如前几部\n
39  2018-10-07   玥什么  哈尔滨    3       一般吧，没什么意思，比较尴尬\n
51  2018-10-07  轨迹hg   青岛    3  实话实说，不是那么好笑，至少不如前几部\n
52  2018-10-07   玥什么  哈尔滨    3       一般吧，没什么意思，比较尴尬\n
66  2018-10-07  轨迹hg   青岛    3  实话实说，不是那么好笑，至少不如前几部\n
67  2018-10-07   玥什么  哈尔滨    3       一般吧，没什么意思，比较尴尬\n

In [122]:
data1 = data.loc[data["rate"] == '0.5']
data1.head(20)

           date          name city rate      comments
12   2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
26   2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
42   2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
55   2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
70   2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
84   2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
98   2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
112  2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
126  2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
140  2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
154  2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
167  2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
180  2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
193  2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
206  2018-10-07  zuf574212885   广州  0.5  辣鸡，低俗，烂到爆炸\n
317  2018-10-07         不是单身狗   大连  0.5       难看max\n
330  2018-10-07         不是单身狗   大连  0.5       难看max\n
331  2018-10-07  DfY291428316   上海  0.5     不咋滴 凑合吧\n
343  2018-10-07         不是单身狗   大连  0.5       难看max\n
344  2018-10-07  DfY291428316   上海  0.5     不咋滴 凑合吧\n

In [123]:
all_comments = data.comments.value_counts(ascending=False)
all_comments = pd.DataFrame(all_comments)
all_comments.head(10)

                                comments
好啊，不错，，，，，\n                          22
我觉得挺好看的\n                             22
有些无厘头，笑点比较牵强\n                        21
还好，挺逗的！\n                             21
好的时候好的\n                              20
全程爆笑，有两个大笑点，已经笑到崩溃，满分\n               20
很欢快噢😊绝对喜剧，但是没啥回味的。\n                  20
尴尬癌笑得牵强\n                             20
看着还行吧，可能每个人的看点不一样吧，喜剧嘛，就涂一乐。\n        20
特别好看，全程笑点不断\n                         20

In [124]:
all_comments5 = data5.comments.value_counts(ascending=False)
all_comments5 = pd.DataFrame(all_comments5)
all_comments5.head()

                          comments
好啊，不错，，，，，\n                    22
好的时候好的\n                        20
非常好看、哈哈哈哈、开心麻花团队不让人失望！\n        20
全程爆笑，有两个大笑点，已经笑到崩溃，满分\n         20
特别好看，全程笑点不断\n                   20

In [125]:
all_comments1 = data1.comments.value_counts(ascending=False)
all_comments1 = pd.DataFrame(all_comments1)
all_comments1.head()

                                 comments
难看max\n                                20
演的什么玩意？整部戏想烘托出无厘头D\n                   20
不咋滴 凑合吧\n                              20
除了超烂真的找不到更好的评价。这是砸开心麻花的招牌啊………\n        16
没啥看点。笑点好冷\n                            15